* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f5f9;
    color: #1e293b;
    line-height: 1.6;
}

/* HEADER */

header {
    background-color: #111827;
    color: white;
    padding: 20px;
    text-align: center;
}


nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 16px;
}

nav a:hover {
    background-color: #38bdf8;
    color: #111827;
}

/* CONTENUTO */

main {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
}

section {
    background-color: white;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 10px;
}

h2 {
    color: #1e3a8a;
}

h3 {
    color: #111827;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #cbd5e1;
}

th {
    background-color: #1e3a8a;
    color: white;
}
